extends layout

block content
  .header
    a.back-button(href="/errand")
      span &#129044;
    if (errand.status === 'Завершено')
      .statusErrand.this-errand-has-been-completed #{errand.status}
    else
      statusErrand #{errand.status}
    .execution-date-Errand Срок исполнения –
        if errand.constantly
          |  постоянно
        else
          |  #{errand.scheduled_due_date}
  .contentErrand
    p #{errand.text_errand}
  .responsibleErrand
    span.labelResponsible Ответственный:
    span.responsiblePerson #{errand.surname.charAt(0)}. #{errand.name.charAt(0)}. #{errand.patronymic}
    span.acceptedErrand Принял
  span.text-at-the-top-of-reports Краткий отчёт по поручению
  .short-report
    .short-report-item
      span.divisions-name Отчёт для Директум
      input.edit-button-errand(type="submit", value="Редактировать", onclick=`window.location.href='/errand/${errand.id}/edit'`)
      span.date-report 23.03.2023, 10:24
  span.text-at-the-top-of-reports Отчёты подразделений
  .report-divisions
    .short-report-item
      span.divisions-name ООТиЗ
      span Mr. Пушистые Штанишки
      input.edit-button-errand(type="submit", value="Смотреть")
      span.status-report-accepted Принято
      //- Добавить в класс under-revision, если на доработке.
      span.date-report 23.03.2023, 10:24
    .short-report-item
      span.divisions-name ОКиТО
      span Васильев И. В.
      input.edit-button-errand(type="submit", value="Смотреть")
      span.status-report-accepted.under-revision На доработке
      //- Добавить в класс under-revision, если на доработке.
      span.date-report 23.03.2023, 10:24
