extends layout

block content
  script(async='', src='/scripts/editStatusErrand.js')
  .header
    a.back-button(href="/errand")
      span &#129044;
    if (errand.status === 'Завершено')
      .statusErrand.this-errand-has-been-completed
        img.edit-icon-errand(src="../images/oneErrand/edit_icon2.svg", width="20", height="20", onclick="toggleErrandStatus(this)")
        span.status-text #{errand.status}
    else
      .statusErrand
        img.edit-icon-errand(src="../images/oneErrand/edit_icon1.svg", width="20", height="20", onclick="toggleErrandStatus(this)")
        span.status-text #{errand.status}
    .execution-date-Errand Срок исполнения –
        if errand.constantly
          |  постоянно
        else
          |  #{errand.scheduled_due_date}
  .contentErrand
    p #{errand.text_errand}
  .responsibleErrand
    span.labelResponsible Ответственный:
    span.responsiblePerson #{errand.surname.charAt(0)}. #{errand.name.charAt(0)}. #{errand.patronymic}
    span.acceptedErrand Принял
  span.text-at-the-top-of-reports Краткий отчёт по поручению
  .short-report
    .short-report-item
      span.divisions-name Отчёт для Директум
      input.edit-button-errand(type="submit", value="Редактировать", onclick=`window.location.href='/errand/${errand.id}/edit'`)
      span.date-report 23.03.2023, 10:24
  .addPerformerContainer
    button.addPerformer( onclick='openModal()' ) Добавить исполнителя
    .modal-overlay
      .modal-content
        button.close-modal( onclick='closeModal()' ) ×
        .two-search-fields
          input.textSearch.rightMargin(type="text" placeholder="Введите подразделение" id="searchInput")
          input.textSearch(type="text" placeholder="Введите исполнителя")
        span.performer-message Отчёт от исполнителя:
        textarea.assignmentReport(placeholder="Введите текст...")
        .modal-window-buttons
          button.addPerformer.rightMarginTwo Добавить
          button.addPerformer( onclick='closeModal()' ) Отменить
  span.text-at-the-top-of-reports Отчёты подразделений
  .report-divisions
    each employee in emp
      .short-report-item
        span.divisions-name #{employee.subdivision_short_name}
        span #{employee.surname} #{employee.name} #{employee.patronymic}
        input.edit-button-errand(type="submit", value="Смотреть", onclick=`window.location.href='/errand/${errand.id}/edit/'`)
        //- span.status-report-accepted Принято
        //- //- Добавить в класс under-revision, если на доработке.
        //- span.date-report 23.03.2023, 10:24
        input.delete-button-performers(type="submit", value="Удалить", onclick)