extends layout

block content

  .content
    .logo
      img(src='/images/logo.png').mainImg
      h1 Отчет по протоколу
    
    if session.reportData
    
      h2 Предварительный просмотр
      
      .table-container  
        table.table-preview
          thead
            tr
              th No п/п
              th Поручение
              th Ответственный
              th Срок исполнения
              th Статус
          tbody
            each item, index in session.reportData
              tr
                td= index + 1
                td.editable-text= item.text
                td= item.responsible 
                td= item.deadline
                td= item.status
                
      form(action='/review-report' method='post')
        input.edit-button(type='submit' value='Подтвердить')
        
    else
      p Отсутствуют данные для предпросмотра
      
  .footer
    p &copy; Компания, 2023